html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
body{
		
		width:100%;
		height:100%;
		background:url('../images/login_background.jpg') no-repeat;
		background-position:fixed;
		background-size:cover;
	}
/*logo部分*/
.logo{
	width:150px;
	height:45px;
	position:absolute;
	top:26px;
	left:30px;
}
.frame{
	width:465px;
	height:435px;
	background:#fff;
	position:absolute;
	right:180px;
	top:280px;
	border-top:1px solid #a94442;
}

.frame-top{
	width:300px;
	height:30px;
	position:absolute;
	top:28px;
	left:27px;
	/* background:#985465; */
}
/*文字前的小图标*/
.colorchunk{
	width:5px;
	height:21px;
	background:#e8868b;
	position:absolute;
	z-index:1;
}

.frame-top-word{
	position:absolute;
	z-index:1;
	left:25px;
	color:#333333;
	font-size:16px;
	font-family:"黑体";
}

/*填写用户名的部分*/
.username{
	width:364px;
	height:50px;
	border:1px solid #a94442;
	border-radius:0 4px 4px 0;
	margin-top: 76px;
	margin-left:70px;
}
/*编辑input中提示的文字*/
.username::-webkit-input-placeholder{
	font-size:18px;
	font-family:"黑体";
	position:relative;
	top:4px;
	left:5px;
}
/*存放icon图标的部分*/
.figure{
	width:43px;
	height:50px;
	border:1px solid #a94442;
	position:absolute;
	top:76px;
	left:27px;
	z-index:3;
	background:#f2dede;
	border-radius:4px 0 0 4px;
}
.icon-ren{
	font-size:25px;
	line-height:50px;
	margin-left:8px;
	color:#a94442;
}
/*用户名部分用于提醒的内容*/
.username-word{
	font-size:12px;
	color:#a94442;
	font-family:"黑体";
	margin-left:27px;
}

/*密码的部分*/
.lock{
	position:absolute;
	right:180px;
	top:100px;
	left:0px;
}
.password{
	width:364px;
	height:50px;
	border:1px solid #a94442;
	border-radius:0 4px 4px 0;
	margin-top: 76px;
	margin-left:70px;
}
.lockicon{
	width:43px;
	height:50px;
	border:1px solid #a94442;
	position:absolute;
	top:76px;
	left:27px;
	z-index:3;
	background:#f2dede;
	border-radius:4px 0 0 4px;
}
.password::-webkit-input-placeholder{
	font-size:18px;
	font-family:"黑体";
	position:relative;
	top:4px;
	left:5px;
}
.icon-mima{
	font-size:20px;
	line-height:50px;
	margin-left:11px;
	color:#a94442;
}

.password-word{
	font-size:12px;
	color:#a94442;
	font-family:"黑体";
	margin-left:27px;
}

/*验证码验证部分*/
.validate{
	position:absolute;
	right:180px;
	top:195px;
	left:0px;
}

.validatetxt{
	width:270px;
	height:50px;
	border:1px solid #a94442;
	border-radius: 4px 0 0 4px;
	margin-top: 76px;
	margin-left:27px;
}
.validateicon{
	width:116px;
	height:50px;
	background:#f2dede;
	position:absolute;
	border:1px solid #a94442;
	border-radius:0 4px 4px 0;
	top:77px;
	right:-14px;
}

.validate-word{
	font-size:12px;
	color:#a94442;
	font-family:"黑体";
	margin-left:27px;
}

.validatetxt::-webkit-input-placeholder{
	font-size:18px;
	font-family:"黑体";
	position:relative;
	top:4px;
	left:5px;
}
.replaceimg{
	font-size:14px;
	font-family:"黑体";
	color:#938fca;
	z-index:10;
	position:absolute;
	top:95px;
	right:-120px;
}


/*确定登录按钮部分*/
.login{
	width:405px;
	height:50px;
	border:1px solid #a94442;
	border-radius:4px;
	background:#e2454e;
	font-family:"黑体";
	font-size: 20px;
	color:#fff;
	position:absolute;
	bottom:43px;
	left:27px;
}

.links{
	width:460px;
	position:absolute;
	bottom:25px;
	left:27px;
}
.redister{
	color:#938fca;
}
.forget-passworf{
	color:#938fca;
	position:absolute;
	right:23px;
	bottom:25px;
}